:root {
    --bg-body-color: #ededed;
    --bg-primary-color: orange;
    --bg-wrapper-color: #0c2941;    
    --height-header: 60px;
}

body{
    background-color: var(--bg-body-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.wrapper {
    background-color: var(--bg-wrapper-color);    
}
.nav-header{
    display: flex;
    height: var(--height-header);
    justify-content: space-between;
}

.nav-header > a > img{
    width: 162px;
    height: 45px;
    padding: 10px 0px 0 10px;
}

.nav-header > button {
    background-color: #8694a0;
    border: none;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.nav-menu{        
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    align-items: center;
    overflow-y: auto;
    justify-content: flex-end;
    left: 100%;    
    width: 100%;
    top: var(--height-header); 
    height: calc(100% - var(--height-header));
    border-top: 2px solid var(--bg-primary-color);
    background-color: var(--bg-wrapper-color);
    transition: all 0.3s;
}

.nav-menu-show{   
    left: 0;    
}
.nav-menu > a {    
    color: white;
    padding: 10px 100%;
    text-decoration: none;    
    width: max-content;
}

/*** Main ***/
main{
    display: grid;
    grid-template-columns: 1fr;
}

figure{    
    margin: 0px;
    margin-inline-start: 0px;
    margin-block: 0px;    
}

main{
    display: flex;
    flex-direction: column;
}

/* Slider Vehiculo */
.slider-container {    
    display: flex;    
    width: 100%;
    height: 300px;
    overflow: hidden;
    background-color: red;    
}

.slider > img {   
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

/*.slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 200px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}
*/





/* Footer */
.footer{
    position: relative;
    margin-top: 50px;    
    bottom: 0px;    
    color: white;
}


/*Reponsibe 768px */
@media screen and (min-width: 768px) {
    .nav-header,
    .footer>footer, main {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-header>button {
        display: none;
    }
    .nav-menu{            
        height: initial;
        flex-direction: initial;
        position: initial;
        width: initial;
        border: initial;
    }
    .nav-menu > a {          
        padding: 0 10px;                
        width: max-content; 
        line-height: var(--height-header);  
    }
    .nav-menu > a:hover {  
        background-color: var(--bg-primary-color);
    }  
    /*** Main ***/
    .slider-container {        
        height: 450px;        
    }

    /* Slider Vehiculo */
    
}

/*Reponsibe 992px */
@media screen and (min-width: 992px) {
    .nav-header, main,
    .footer>footer {
        max-width: 960px;
    }
}

/*Reponsibe 1400px */
@media screen and (min-width: 1400px) {
    .nav-header, main,
    .footer>footer {
        max-width: 1320px;
    }
}