:root {
    --bg-body-color: #ededed;
    --bg-primary-color: orange;
    --bg-wrapper-color: #084298;
    --bg-black-secundary: #4d4d4d;
    --bg-whatsapp: #25d366;
    --bg-whatsapp-light: #d3f6e0;
    
    --height-header: 60px;


}

h1{
    font-size: 2rem;
}

h2{
    font-size: 1.2rem;
}

h1, h2{
    margin: 0;
    padding: 0;
}

body{    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
.wrapper {
    background-color: var(--bg-wrapper-color);    
}
.nav-header{
    display: flex;
    height: var(--height-header);
    justify-content: space-between;
}

.nav-header > a > img{
    width: 162px;
    height: 45px;
    padding: 10px 0px 0 10px;
}

.nav-header > button {
    background-color: #8694a0;
    border: none;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
}

.nav-menu{        
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    align-items: center;
    overflow-y: auto;
    justify-content: flex-end;
    left: 100%;    
    width: 100%;
    top: var(--height-header); 
    height: calc(100% - var(--height-header));
    border-top: 2px solid var(--bg-primary-color);
    background-color: var(--bg-wrapper-color);
    transition: all 0.3s;
}

.nav-menu-show{   
    left: 0;    
}
.nav-menu > a {    
    color: white;
    padding: 10px 100%;
    text-decoration: none;    
    width: max-content;
}

/*** Main ***/
main{
    display: grid;
    grid-template-columns: 1fr;
}

figure{    
    margin: 0px;
    margin-inline-start: 0px;
    margin-block: 0px;    
}

main{
    display: flex;
    flex-direction: column;
}

/* Slider Vehiculo */
.slider-container {    
    display: flex;    
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-top: 0.5rem;    
}

.slider > img {   
    width: 100%;
    height: 100%; 
    object-fit: contain;
}

.info-direccion{
    display: inline-flex;
    padding: 5px;
    background-color: var(--bg-primary-color);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    color: var(--bg-wrapper-color);
    font-size: 0.75rem;    
}

.datos-generales{
    display: grid;
    margin-top: 0.5rem;
    
}

.info-vehiculo > h1{
    font-weight: bold;
    color: var(--bg-wrapper-color);
}
.info-precio{
    color: red;
}


.info-precio span:nth-child(1){
    font-size: 1.2rem;
    font-weight: bold;    
}

.info-precio span:nth-child(2){
    font-size: 1.8rem;
    font-weight: bold;
}

.info{
    font-size: 1.2rem;
    font-weight: bold;
    padding: 4rem 0 0;    
    border-bottom: 4px solid var(--bg-primary-color);
    color: var(--bg-wrapper-color);
}

/* Info Caracteristicas*/
.info-caracteristica {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;    
}

.info-caracteristica > div div:nth-child(1){
    font-size: 0.75rem;
    color: var(--bg-black-secundary);
    padding: 0.5rem 0;
}

.info-caracteristica > div div:nth-child(2){
    font-size: 1.2rem;
    font-weight: bold;
}

/* Info Contacto*/
.form-contacto {    
    border-radius: 0.5rem;
    background-color:var(--bg-whatsapp-light);
}
.form-contacto div:nth-child(1) {        
    background-color: #084298;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
}
.form-contacto-input {  
    text-align: center;
    padding: 1rem;
}

.form-contacto-input > input {    
    border: 1px solid #cdcdcd;
    border-radius: 0.5rem;    
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1rem;
    width: 100%;
}
.form-contacto-whatsapp { 
    text-align: center;
    padding: 0.5rem;
    background-color: var(--bg-whatsapp);
}




/*.form-contacto > div > div:nth-child(1){
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 0px;    
    color: white;    
    background: var(--bg-wrapper-color);
    text-align: center;
    border-radius: 0.5rem;

    background-color: #f2f2f2;
}*/

.info-vendedor{    
    margin-top: 1rem;
    border: 1px solid #084298;
    border-radius: 0.5rem;
    padding: 1rem;
}

.info-vendedor > div{    
    display: flex;
    padding-top: 1rem;
}

.info-vendedor-logo {    
    width: 85px;
    height: 55px;
    border: 1px solid var(--bg-primary-color);
    margin: 0px 0.5rem 0 0;
    border-radius: 0.5rem;
}

.info-vendedor-logo img {   
    width: 100%;
    height: 100%;    
    object-fit: contain;
}

.info-vendedor-titulo div:nth-child(1){
    font-size: 1.2rem;
    font-weight: bold; 
}

.info-vendedor-titulo div:nth-child(2){    
    font-size: 0.75rem;
    color: var(--bg-black-secundary);
    padding: 0.2rem 0; 
}

.info-vendedor-des{
    padding-top: 0.5rem;
}

/*.form-contacto > div > div:nth-child(1) {
    background-color: var(--bg-wrapper-color);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    font-weight: bold;
}*/

/*.form-contacto > div > div:nth-child(1) {
    background-color: var(--bg-wrapper-color);
    color: white;
    padding: 1rem;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.4rem 0.4rem 0 0;
    font-weight: bold;
}*/


/*.slider {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    overflow: hidden;
}

.slide {
    width: 100%;
    height: 200px;
    background-color: #3498db;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 8px;
    transition: transform 0.5s ease-in-out;
}
*/





/* Footer */
.footer{
    position: relative;
    margin-top: 50px;    
    bottom: 0px;    
    color: white;
}


/*Reponsibe 768px */
@media screen and (min-width: 768px) { 
    .nav-header,
    .footer>footer, main {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }
    .nav-header>button {
        display: none;
    }
    .nav-menu{            
        height: initial;
        flex-direction: initial;
        position: initial;
        width: initial;
        border: initial;
    }
    .nav-menu > a {          
        padding: 0 10px;                
        width: max-content; 
        line-height: var(--height-header);  
    }
    .nav-menu > a:hover {  
        background-color: var(--bg-primary-color);
    }  
    /*** Main ***/
    .slider-container {        
        height: 450px;          
        border-radius: 1rem 1rem 0 0;
        margin-top: 0.5rem;
        
    }

    .info-caracteristica {        
        grid-template-columns: 1fr 1fr 1fr;        
    }

    .info-video > iframe{
        width: 100%;
        height: 415px;    
        object-fit: contain;
    }
    
    
}

/*Reponsibe 992px */
@media screen and (min-width: 992px) {
    .datos-generales{    
        grid-template-columns: 2fr 1fr;   
        gap: 10px;
    }

    .nav-header, main,
    .footer>footer {
        max-width: 960px;
    }
}

/*Reponsibe 1400px */
@media screen and (min-width: 1400px) {
    .info-caracteristica {        
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }


    .nav-header, main,
    .footer>footer {
        max-width: 1320px;
    }
}