:root {
    --bg-header: #e9ecef;
    --bg-primario: #2B2E41;
    --bg-segundario: #ff711b;
    --bg-destacado: #0d6efd;
    --texto-primario:#2B2E41;
    --texto-segundario: white;    
}

ul, li, a {
    text-decoration: none;    
    color: var(--texto-primario);
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    background-color: var(--bg-header);
    height: 60px;
    border-bottom:var(--bg-segundario) solid 2px;
    /*box-shadow: 0px 5px 20px 0px rgb(0 0 0 / 20%);*/
}

.header-principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header-principal > a {
    padding: 5px;
}

.header-principal > input {
    display: none;
}

.btn-destacado {       
    background-color: var(--bg-primario);        
    border-radius: 0.5rem;    
    color: var(--texto-segundario);
    margin: 0 1rem;
    font-weight: bold;
    width: 240px;
}

.desplega-menu {            
    position: absolute;
    top: 60px;
    right: 0; 
    width: 0;     
    height: calc(100vh - 62px); 
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    text-align: center;        
    background-color: var(--bg-header);
    transition: all .5s;        
    border-left: var(--bg-segundario) 2px solid;    
    
}

.open-menu:checked + .desplega-menu{         
    width: 300px;
}

.desplega-menu > a {     
    padding: 1rem;
    font-size: 1.5em;    
    line-height: 1.5;
    cursor: pointer;
}



@media screen and (min-width: 768px){ 
    .header-principal {
        max-width: 720px;
        margin-left: auto;
        margin-right: auto;
    }


    .header-principal {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between; 
        flex-wrap: unset;
    }

    .header-principal > input, .header-principal > label {
        display: none;
    }

    .desplega-menu {    
        position: relative;        
        display: flex;
        overflow: initial;   
        background-image: unset;
        right: unset;
        left: unset;
        top: unset;
        width: unset;        
        height: unset;
        flex-direction: unset;        
        border-radius: none;   
        border-left: none;     
    }

    .open-menu:checked + .desplega-menu{  
        width: unset;      
    }

    .btn-destacado {       
        background-color: var(--bg-primario); 
        padding: 0;
        margin: 0;
        
    }

    .desplega-menu > a {     
        padding: 0.6rem 1rem;
        font-size: 1em; 
        
        cursor: pointer;        
    }
   
}

@media screen and (min-width: 992px){   
    .wrapper > header {
        max-width: 960px;
    }
}


@media screen and (min-width: 1400px){    
    .wrapper > header {
        max-width: 1320px;
    }
}

