:root {
    --bg-primario: #00bbf9;
    --text-primario: white;
}

body{
    font-family: Arial, sans-serif;
    margin: 0;
}

.bg-primario {
    background-color: var(--bg-primario);    
}

.content-principal {
    margin-left: auto;
    margin-right: auto;   
    max-width: 100%;
    display: flex;
    justify-content: space-between;    
}

.content-principal > nav {
    position: absolute;
    background-color: red;
    display: flex;
    flex-direction: column;
    right: 0;    
}

.content-principal a, nav > a{
    text-decoration: none;        
}


/*Media Queris*/
@media screen and (min-width: 576px){
    .content-principal {
        position: relative;
        display: flex;
        max-width: 720px;
        background-color: blue;
        align-items: center;
    }

    .content-principal > nav {
        position: relative;
        background-color: violet;
        display: flex;
        align-items: center;
        flex-direction: initial;
        right: initial;
        gap: 1rem;
    }

    
    
}

@media screen and (min-width: 992px){   
}


@media screen and (min-width: 1400px){    
}

